body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .welcome-container {
    text-align: center;
  }
  
  a {
    color: #4CAF50;
    text-decoration: none;
    font-size: 18px;
  }
  
  a:hover {
    text-decoration: underline;
  }
  